<h1 class="mt-5 mb-4">Add New Product</h1>
<% if(errorMessage){ %>
    <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
    </div>
    <% }%>
        <form action="/login" method="post">

            <div class="mb-3">
                <label for="desc" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Password</label>
                <input type="text" class="form-control" id="password" name="password" required>
            </div>
            <div> 
                <button type="submit" class="btn btn-primary mx-auto p-2">LogIn</button>
            </div>
        </form>